<!DOCTYPE html>
<html>
<head>
		<title>Home</title>
		<meta charset="utf-8" name="viewport" content="device-width,initial-scale=1.0">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


	    <style>
	        #bgImg {
	            height: 200px;
	        }
	        #profileImg {
	            width: 100px;
	            height: 100px;
	            top: 75%;
	            left: 50%;
	            transform: translate(-50%, 0);
	        }
	        #searchBar{
	        	width:700px;
	        }
	        
	    </style>
</head>
<body>
	<div class=" navbar">
	      <nav class="deep-purple accent-4">
		    <div class="nav-wrapper container" >
		      <a href="/home" class="brand-logo">Logo</a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="/auth/logout">Logout</a></li>
		      </ul>
		    </div>
		  </nav>

		  <ul class="sidenav" id="mobile-demo">
		    <li><a href="/auth/logout">Logout</a></li>
		  </ul>
</div>

		<div class="container">
		        <div class="row">
		            <div class="col offset-m3 s12 m6">
		                <div class="card">
		                    <div class="card-image">
		                        <img src="https://materializecss.com/images/sample-1.jpg" id = "bgImg">
		                        <span class="card-title"></span>
		                        <a class="btn-floating halfway-fab waves-effect waves-light red"  id = "profileImg">
		                            <img src="/static/images/profile.png" alt="">
		                        </a>
		                    </div>
		                    <br>
		                    <div class="card-content center">
		                        <h5 class = "indigo-text"><%=user.name%></h5>
		                        <p><%=user.email%></p>
		                        <p><%=user.mobile%></p>
		                        <p><%=user.desc%></p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <script type="text/javascript">
		    	
			  document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('.sidenav');
			    var instances = M.Sidenav.init(elems);
			  });

		    </script>

</body>
</html>